body {
    text-align: center;
    background-image: url('fondo.jpg');
    margin: 0; 
    padding: 0;
}

#board {
    display: inline-block;
    margin-top: 20px;
    max-width: 90vw; 
}

.row {
    display: flex;
    justify-content: center; 
}

.cell {
    width: 30vw; 
    height: 30vw; 
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
}

.cell img {
    max-width: 100%; 
    max-height: 100%;
}

